.header{
    height: 11vh;
    width: 100%;
    text-align: center;
    background-color: blue;
    
}
.header h2{
    text-transform: capitalizes;
    color: cadetblue;
    justify-items: center;
    color: #ffffff;
    /* padding: 2rem; */
    padding: 1rem;
   
}